@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius--menu-wrapper : 100px;
  --border-radius--menu-link : 92px
}

.menuLink {
  @apply gap-x-2 max-md:gap-x-1 text-white cursor-pointer border flex-none justify-between items-center text-sm max-sm:text-xs font-normal leading-[114.286%] max-sm:leading-none no-underline transition-[background-color] duration-[0.2s] ease-[ease-in-out] flex py-4 max-sm:py-2 px-6 max-sm:px-3 rounded-[80px] border-solid border-[#222325] hover:bg-[#36353a];
}

.transition-custom {
  transition-property: all;
  transition-duration: 0.3s; 
  transition-timing-function: ease-in-out;
}

.animateNav {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
    transform: translate3d(0px, 3vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: 0px;
    opacity: 0;
  }
  30% {
    transform: translate3d(0px, 2vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: 100px;
    opacity: 0;
  }
  60% {
    transform: translate3d(0px, 1vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: 140px;
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: fit-content;
    opacity: 1;
  }
}

.header {
  @apply h-[4.5rem] w-full flex top-[-75px] items-center px-4 justify-between mx-auto;
}

.header .wrapper {
  @apply max-w-[1440px] flex items-center justify-between w-full mx-auto;
}

.header.active {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  @apply fixed top-0 transition-all duration-300 left-0 w-full bg-white/80 border-b-[.1rem] z-[9999];
}

.header .logo {
  @apply pl-3;
}

.header nav {
  background-color: transparent !important;
}

.header nav ul {
  @apply flex;
}

.header nav ul li {
  @apply mx-3 hover:text-blue-600 font-medium text-blue-600 focus:border-0 focus:outline-none transition-colors duration-300 relative;
}

.header nav ul li::after {
  content: "";
  @apply h-[.18rem] w-0 bg-blue-600 absolute left-0 bottom-[-.1rem] rounded-lg transition-all duration-300;
}

.header nav ul li:hover::after {
  @apply w-full;
}

.header nav ul li a {
  @apply focus:border-0 focus:outline-none focus:text-blue-600;
}

.btn {
  @apply px-6 py-2 rounded-full focus:border-0 focus:outline-none
  hover:shadow-lg transition-shadow duration-300;
}

.primaryBtn {
  @apply bg-blue-600 text-white;
}

.header .btns {
  @apply flex items-center;
}

.menuBtn {
  @apply text-2xl text-blue-600 hover:text-blue-800 transition-colors
   duration-300 mx-4 hidden;
}
